.cards__section {
  background-image: url('/img/bg-body.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 400px;
}

.cards__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 42px 14px;
  padding-bottom: 30px;
}

.cards__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 128px;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: var(--animation);
}

.cards__item::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px 0px;
  border: 1px solid rgba(220, 86, 197, 0.3);
  z-index: 0;
}

.cards__item__img {
  width: 128px;
  height: 161px;
  border-radius: 50px 0px;
  object-fit: cover;
}

.cards__item__title {
  color: #dc56c5;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.cards__item__date {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.cards__item__location__link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.location__item__icon {
  width: 7px;
  height: 10px;
  fill: #fff;
}

@media only screen and (min-width: 768px) {
  .cards__list {
    gap: 58px 30px;
  }

  .cards__item {
    width: 185px;
  }

  .cards__item::after {
    top: -14px;
    right: -14px;
    width: 155px;
    height: 145px;
  }

  .cards__item__img {
    width: 180px;
    height: 227px;
  }

  .cards__item__title,
  .cards__item__date {
    font-size: 16px;
  }

  .cards__item__location__link,
  .location__item__icon {
    font-size: 14px;
  }

  .location__item__icon {
    width: 7px;
    height: 10px;
  }
}

.cards__item:hover {
  scale: 1.05;

}

.cards__item:before {
  content: '';
  position: absolute;
  border: #DC56C5 solid 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

.cards__item:hover:before,
.cards__item:focus:before,
.cards__item:active:before {
  border: #DC56C5 solid 1px;
  box-shadow: 3px 3px 3px #DC56C5;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}

@media only screen and (min-width: 1200px) {
  .cards__list {
    gap: 65px 70px;
  }
}