.pagination__section {
    padding-top: 60px;
    background-color: #0E0E0E;
}

.pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

/* .pagination__list__item {} */

.pagination__list__button {
    border: none;
    background-color: transparent;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    font-family: 'Montserrat', serif;
    font-size: 14px;
    font-weight: 400;

}

.pagination__list__button.active {
    color: #DC56C5;
    border-radius: 10px 0;
    border: 1px solid #DC56C5;
}

.pagination__dots {
    display: inline-block;
    margin: 0 5px;
    color: white;
    font-size: 14px;
}