<section class="cards__section">
    <div class="container">
        <ul class="cards__list">
            <!-- <li class="cards__item">
                <img src="/img/card-1.png" alt="" class="cards__item__img">
                <h2 class="cards__item__title">
                    Eurovision 2021 finals!
                </h2>
                <p class="cards__item__date"> 2021-05-13</p>
                <a href="" class="cards__item__location__link">
                    <svg class="location__item__icon">
                        <use href="/img/icons/sprite.svg#icon-location"> </use>
                    </svg>

                    Palace of Ukraine</a>
            </li>
            <li class="cards__item">
                <img src="/img/card-1.png" alt="" class="cards__item__img">
                <h2 class="cards__item__title">
                    Eurovision 2021 finals!
                </h2>
                <p class="cards__item__date"> 2021-05-13</p>
                <a href="" class="cards__item__location__link">
                    <svg class="location__item__icon">
                        <use href="/img/icons/sprite.svg#icon-location"> </use>
                    </svg>

                    Palace of Ukraine</a>
            </li>
            <li class="cards__item">
                <img src="/img/card-1.png" alt="" class="cards__item__img">
                <h2 class="cards__item__title">
                    Eurovision 2021 finals!
                </h2>
                <p class="cards__item__date"> 2021-05-13</p>
                <a href="" class="cards__item__location__link">
                    <svg class="location__item__icon">
                        <use href="/img/icons/sprite.svg#icon-location"> </use>
                    </svg>

                    Palace of Ukraine</a>
            </li>
            <li class="cards__item">
                <img src="/img/card-1.png" alt="" class="cards__item__img">
                <h2 class="cards__item__title">
                    Eurovision 2021 finals!
                </h2>
                <p class="cards__item__date"> 2021-05-13</p>
                <a href="" class="cards__item__location__link">
                    <svg class="location__item__icon">
                        <use href="/img/icons/sprite.svg#icon-location"> </use>
                    </svg>

                    Palace of Ukraine</a>
            </li> -->
        </ul>
    </div>
</section>